
//
// VARIABLES
//

// Colors
$blue: #b9b9b9;

// Grays
$black: #000;
$darkerGray: #b9b9b9;
$darkGray: #b9b9b9;
$gray: #666;
$lightGray: #eee;
$white: #ececec;

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
